VITE_ESCROW_CONTRACT_ADDRESS=0xD69854389Cf48A5f396067873AD6dC58c54a96B7
VITE_APP_URL=https://your-arcescrow-domain.com
VITE_CIRCLE_APP_ID=your_circle_app_id
VITE_CIRCLE_CLIENT_KEY=your_circle_client_key
CIRCLE_API_KEY=your_circle_api_key
ARC_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=0xyour_private_key
ARC_TESTNET_USDC=0x3600000000000000000000000000000000000000
