VITE_ESCROW_CONTRACT_ADDRESS=0x4A7f48d5C5f68Edd0D7b5aB5775E87Bb757f3648
VITE_APP_URL=https://arcescrow.xyz
VITE_CIRCLE_APP_ID=your_circle_app_id
CIRCLE_API_KEY=your_circle_api_key
ARC_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=0xyour_private_key
ARC_TESTNET_USDC=0x3600000000000000000000000000000000000000
